<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>

    <body> 
        <h1> {{title}}</h1>
        <img src="dammy pic.jpeg">
        <p>My name is {{name}} </p>
    </body>

</html>