<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body> 
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="dammy pic.jpeg">
        </div>
    
        {{>footer}}
      
    </body>

</html>