<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>

    <body> 
        {{>header}}
        <img src="dammy pic.jpeg">
        {{>footer}}
    </body>

</html>